.jumbotron {
    background-image: url('../../assets/img/googleBooks.png');
}

.jumbotron>h1,
h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}